:root {
    --primary-color: rgb(179, 45, 219);
}

nav>form {
    top: 30px;
    right: 80px;
}

.car-ou-sel h1 {
    font-size: 4.5rem;
}


.started-button {
    width: 180px;
}

.common-color {
    color: var(--primary-color);
}

.fa-quote-right {
    font-size: 3.5em;
    color: rgb(221, 221, 221);
}

.fa-star {
    color: goldenrod;
    margin-right: -3px;
}

#star {

    padding-top: 2.5%;
}

.modal input:focus {
    outline: none;
}

@media only screen and (min-width:100px) and (max-width:1000px) {
    #trustedt-companies {
        display: none;
    }
}